{:paths
 ["src/core" "src/cards" "test"]

 :deps
 {com.wsscode/pathom-viz {:mvn/version "1.0.3"}}

 :aliases
 {:provided
  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.1"}
                org.clojure/clojurescript {:mvn/version "1.10.520"}
                com.wsscode/pathom        {:mvn/version "2.2.21"}}}

  :dev
  {:extra-deps {nubank/workspaces            {:mvn/version "1.0.0-preview9"}
  														thheller/shadow-cljs         {:mvn/version "2.8.40"}
                fulcrologic/fulcro-incubator {:mvn/version "0.0.2"}
                fulcrologic/fulcro-inspect   {:mvn/version "2.2.3"}
                binaryage/devtools           {:mvn/version "0.9.10"}}}}}
